body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    background: #f8f8f8;
}

header {
    background: #009688;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

#medicineList .card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn {
    padding: 10px 18px;
    background: #009688;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
