body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: 1px solid #777;
}

button {
  background: #00796b;
  color: white;
  border: none;
  padding: 12px;
}

.card {
  background: white;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
}
